.left input{
    background-color: rgb(235, 234, 234);
    margin-bottom: 7px;
    margin-right: 7px;
    color: black;
    padding-bottom: 13px;
    padding-top: 5px;
}

.left{
    padding: 20px;
    box-shadow: 0 0 6px black;
}